*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(195, 229, 255);
}
 
.content{
    padding: 1rem;
    margin: 1.5rem;
    background-color:rgb(249, 252, 255);
    border-radius: 1rem;
    height: auto;
    width: auto;
}

.titulo{ 
    color: rgb(0, 0, 0);
}

@media screen and (min-width: 992px) {
    .content {
      max-width: 992px;
      width: auto;
      margin: 1rem auto;
    }
  }